.about
{

}

h1, h2, p, li, ul
{
	font-family: "Tahoma", Geneva, sans-serif;
	color: #16324f;
	padding: 10px;:
}

h1
{
  display: flex;
  justify-content: center;
}
.page{
  display: flex;
  justify-content: space-between;
  height: 70%;
  flex-direction: row;
  background-color: #D6E9FE;
  align-items: baseline;
}


@media only screen and (max-width: 400px) {
   .footer
   {
     flex-direction: column;
   }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page
  .footer
  {
    width: 50%;
  }
  .page
  {
    flex-direction: column;
  }
}


.footer{
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: space-around;
  background-color: #16324f;
}

.block{
  padding-top: 5px;
}

.square{
  width: 31%;
  margin: 20px 1.15%;
  height: 150px;
  background-color: #B2D6FF;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li
{
	padding: 2px;
}

#Member
{
	display: inline;
	padding: 8px;
	margin: 5px;
	background-color: #dddddd;
}

#Toolbar
{
	padding: 16px 18px;
	overflow: hidden;
	background-color: #16324f;
	text-align: center;
	text-decoration: none;
}



li a:hover{
	background-color: #FFFFFF;
}

.list
{
	display: normal;
	margin: 0px 0px;
}

/* https://coolors.co/3e92cc-2a628f-13293d-16324f-18435 */
